body {
    font-family: "Roboto", "Arial", sans-serif;
    min-width: 1200px;
    background: #849d8f url("../img/bg-1.jpg");
    color: #ffffff;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1147px;
    padding: 0 26px;
    margin: 0 auto;
}

.main-footer .container {
    border-top: 1px solid #a9bbb1;
}


/*Sprite*/

.sprite {
    background-image: url(../img/sprite/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-goods-icon {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-hover-icon {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-basket-icon {
    width: 21px;
    height: 20px;
    background-position: -10px -90px;
}

.sprite-check-active {
    width: 20px;
    height: 20px;
    background-position: -10px -130px;
}

.sprite-check-disabled {
    width: 20px;
    height: 20px;
    background-position: -10px -170px;
}

.sprite-check-hover-active {
    width: 20px;
    height: 20px;
    background-position: -10px -210px;
}

.sprite-fb-social-icon {
    width: 31px;
    height: 31px;
    background-position: -10px -250px;
}

.sprite-inst-social-icon {
    width: 31px;
    height: 31px;
    background-position: -10px -301px;
}

.sprite-radio-active {
    width: 20px;
    height: 20px;
    background-position: -10px -352px;
}

.sprite-radio-disabled {
    width: 20px;
    height: 20px;
    background-position: -10px -392px;
}

.sprite-radio-hover-active {
    width: 20px;
    height: 20px;
    background-position: -10px -432px;
}

.sprite-search-hover-icon {
    width: 17px;
    height: 17px;
    background-position: -10px -472px;
}

.sprite-search-icon {
    width: 17px;
    height: 17px;
    background-position: -10px -509px;
}

.sprite-sprite {
    width: 61px;
    height: 937px;
    background-position: -10px -546px;
}

.sprite-tw-social-hover-icon {
    width: 31px;
    height: 31px;
    background-position: -10px -1503px;
}

.sprite-tw-social-icon {
    width: 31px;
    height: 31px;
    background-position: -10px -1554px;
}

.sprite-user-hover-icon {
    width: 20px;
    height: 19px;
    background-position: -10px -1605px;
}

.sprite-user-icon {
    width: 20px;
    height: 19px;
    background-position: -10px -1644px;
}

.sprite-vk-social-icon {
    width: 31px;
    height: 31px;
    background-position: -10px -1683px;
}

.sprite-x-icon {
    width: 10px;
    height: 10px;
    background-position: -10px -1734px;
}


/*End Sprite*/


/*==============================
=            Header            =
==============================*/

.header-top {
    min-height: 75px;
}

.logo-img {
    display: inline-block;
    min-width: 150px;
    min-height: 75px;
    padding-top: 7px;
    margin-right: 28px;
    float: left;
}

.navigation {
    width: 850px;
    float: left;
    font-size: 16px;
    font-weight: 700;
}

.navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
}

.navigation a {
    display: block;
    padding: 29px 20px;
    text-decoration: underline;
}

.navigation a.nav-logo {
    padding: 0px 0px;
}

.site-actions {
    max-width: 300px;
    float: right;
    margin-top: 20px;
    font-size: 0px;
    font-weight: 700;
    margin-bottom: 17px;
}

.search,
.user-block,
.basket {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
}

.search a {
    display: block;
    width: 35px;
    height: 32px;
    ;
    border-radius: 50%;
    margin-right: 10px;
    background: #a1b4a9;
}

.search a:hover {
    background: #f8f7f4;
}

.search::before {
    position: absolute;
    content: "";
    left: 10px;
    bottom: 7px;
    width: 17px;
    height: 17px;
    background-image: url(../img/sprite/sprite.png);
    background-repeat: no-repeat;
    background-position: -10px -509px;
}

.search:hover::before {
    position: absolute;
    content: "";
    left: 10px;
    bottom: 7px;
    width: 17px;
    height: 17px;
    background-image: url(../img/sprite/sprite.png);
    background-repeat: no-repeat;
    background-position: -10px -472px;
}

.user-block a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    padding-left: 45px;
    padding-right: 15px;
    margin-right: 10px;
    background: #a1b4a9;
}

.user-block a:hover {
    color: #373737;
    background: #f8f7f4;
}

.user-block::before {
    position: absolute;
    left: 15px;
    bottom: 6px;
    content: "";
    width: 20px;
    height: 19px;
    background-image: url(../img/sprite/sprite.png);
    background-position: -10px -1644px;
}

.user-block:hover::before {
    position: absolute;
    left: 15px;
    bottom: 6px;
    content: "";
    width: 20px;
    height: 19px;
    background-image: url(../img/sprite/sprite.png);
    background-position: -10px -1605px;
}

.basket a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    padding-left: 45px;
    padding-right: 15px;
    background: #a1b4a9;
}

.basket a:hover {
    color: #373737;
    background: #f8f7f4;
}

.basket:before {
    position: absolute;
    left: 15px;
    bottom: 6px;
    content: "";
    width: 21px;
    height: 20px;
    background-image: url(../img/sprite/sprite.png);
    background-position: -10px -10px;
}

.site-info {
    min-height: 40px;
    max-width: 270px;
    font-weight: 700;
    float: right;
}

.work-time {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.phone {
    font-size: 22px;
    line-height: 24px;
}


/*=====  End of Header  ======*/


/*===============================
=            Content            =
===============================*/

.breadcrumbs {
    float: left;
    margin-top: 25px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs li:last-child {
    margin-right: 0px;
}

.breadcrumbs li::before {
    content: "»";
    margin-right: 5px;
}

.breadcrumbs li:first-child:before {
    display: none;
}

.page-title h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 30px;
}

.select {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.select-title {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.select-title {
    margin-left: 15px;
}

.form-top select {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 45px;
    margin-top: 7px;
    margin-right: 15px;
    background: #a9bab0;
    border-radius: 20px;
    color: #ffffff;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    text-indent: 0.01px;
    background-image: url('../img/marker.png');
    background-position: 90% center;
    background-repeat: no-repeat;
}

.filters {
    font-size: 0;
    margin-bottom: 30px;
}

.range-title {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.range {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    font-size: 16px;
}

.range-filter {
    padding-top: 7px;
    width: 220px;
    margin: auto;
}

.range-controls {
    position: relative;
    height: 40px;
    padding: 0 15px;
    background: #aabbb1;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
    margin-top: 17px;
    height: 3px;
    background: #d7dcde;
}

.bar {
    height: 3px;
    width: 117px;
    background: #f8f7f4;
}

.toggle {
    position: absolute;
    top: 9px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.min-toggle {
    left: 30px;
}

.max-toggle {
    left: 140px;
}

.radio {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.radio-title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
}

.radio-items {
    border-radius: 20px;
}

.radio-items li {
    display: inline-block;
    vertical-align: top;
}

.radio span {
    margin-top: 7px;
}

.radio-items {
    height: 20px;
    width: 410px;
    font-size: 16px;
    font-weight: 700;
    background: #aabbb1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 7px;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label {
    position: relative;
    cursor: pointer;
    line-height: 18px;
    padding-left: 45px;
}

input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #f7f6f3;
    border-radius: 50%;
    margin-left: 25px;
}

input[type="radio"]:checked+label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/sprite-filter.png);
    background-position: -200px -20px;
    background-repeat: no-repeat;
}

.form-top {
    margin-bottom: 15px;
}

.checkbox {
    display: inline-block;
    vertical-align: top;
}

.checkbox-title {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
}

.checkbox-items ul {
    margin: 0;
    padding: 0;
}

.checkbox-items li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.checkbox-items {
    height: 20px;
    width: 715px;
    font-size: 16px;
    font-weight: 700;
    background: #aabbb1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 7px;
    margin-right: 17px;
}

input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    line-height: 18px;
    padding-left: 51px;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #f7f6f3;
    border-radius: 5px;
    margin-left: 25px;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/sprite-filter.png);
    background-position: -20px -20px;
}

.btn {
    display: inline-block;
    padding: 8px 25px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    background: linear-gradient(to right, #e9553a, #ee6341);
    outline: none;
    border: none;
    border-radius: 30px;
}

.btn-new {
    background: #a6b7ad;
    border: 2px solid #f9f9f9;
    color: #fcfcfc;
}

.button {
    display: inline-block;
    margin-top: 26px;
}

.products {
    margin-bottom: 70px;
}

.products-item {
    position: relative;
    float: left;
    width: 267px;
    min-height: 269px;
    margin-right: 22px;
    margin-bottom: 40px;
}

.products-item:nth-child(4n) {
    margin-right: 0px;
}

.product-title {
    margin-top: 15px;
}

.product-price {
    position: absolute;
    bottom: 65px;
    padding-right: 40px;
    font-size: 45px;
    font-weight: 700;
}

.product-title-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

.product-link {
    width: 266px;
    height: 266px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.product-icon {
    background: url("../img/rubl-icon.svg") no-repeat 80px 12px;
    ;
}

.weight {
    position: absolute;
    top: 9px;
    left: 110px;
    font-size: 30px;
    line-height: 45px;
}

.paginator {
    position: relative;
    font-size: 0;
    float: right;
    margin-bottom: 25px;
}

ul.pagination {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

ul.pagination li {
    display: inline-block;
    vertical-align: top;
}

ul.pagination li a {
    display: block;
    padding: 6px 10px;
    color: #fff;
}

ul.pagination li a.active {
    background-color: #ffffff;
    color: #000;
    border-radius: 50%;
}

.paginator .prev {
    transform: translateY(-50%;
    );
    text-indent: -10000px;
    background-image: url("../img/prev-arrow.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.paginator .next {
    text-indent: -10000px;
    background: url("../img/next-arrow.png") no-repeat 0 center;
}


/*=====  End of Content  ======*/


/*==============================
=            Footer            =
==============================*/

.footer-social {
    min-height: 45px;
    margin-top: 35px;
    margin-bottom: 27px;
    font-size: 0;
    width: 400px;
    float: left;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: 5px solid #c2cec7;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url(../img/sprite/sprite.png);
    background-repeat: no-repeat;
}

.social-btn-tw {
    width: 31px;
    height: 31px;
    background-position: -10px -1554px;
}

.social-btn-vk {
    width: 31px;
    height: 31px;
    background-position: -10px -1683px;
}

.social-btn-fb {
    width: 31px;
    height: 31px;
    background-position: -10px -250px;
}

.social-btn-inst {
    width: 31px;
    height: 31px;
    background-position: -10px -301px;
}

.info {
    min-height: 45px;
    width: 455px;
    float: left;
    margin-top: 35px;
    margin-bottom: 27px;
    margin-right: 20px;
}

.info li {
    padding-bottom: 9px;
}

.provider,
.documents {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
}

.provider,
.documents a {
    text-decoration: underline;
}

.provider {
    margin-right: 25px;
}

.provider span {
    font-weight: 700;
}

.footer-copyright {
    margin-top: 18px;
    margin-bottom: 25px;
    max-width: 255px;
    float: right;
}


/*=====  End of Footer  ======*/
